* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(90deg, #133866, #0a1f33);
  color: white;
}

header {
  width: 100%;
  padding: 25px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* STYLE UNTUK LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.logo-box {
  width: 38px;
  height: 38px;
  border-radius: 8px;
  background: #1f69fd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.logo-text {
  letter-spacing: 1.2px;
}

/* STYLE UNTUK NAVBAR */
nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

nav ul li a {
  position: relative;
  color: #e2e2e2;
  text-decoration: none;
  padding-bottom: 4px;
  font-weight: bold;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #0c5cf7;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

nav ul li a:hover {
  color: #1f69fd;
}

.btn-talk {
  padding: 10px 22px;
  background: #1f69fd;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn-talk:hover {
  background: #0d44b3;
}

/* STYLE UNTUK SECTION HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 8% 140px;
  position: relative;
  min-height: 705px;
}

.hero-left h4 {
  background: #0c2d55;
  display: inline-block;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 13px;
  margin-bottom: 20px;
  color: #9bb4d6;
  letter-spacing: 1px;
}

.hero-left h1 {
  font-size: 58px;
  font-weight: 800;
  line-height: 1.2;
}

.blue-text {
  color: #1f69fd;
}

.hero-left p {
  margin: 20px 0 35px;
  width: 75%;
  color: #fff;
  font-size: 16px;
}

.btn-main {
  padding: 12px 26px;
  background: #1f69fd;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.btn-main:hover {
  background: #0d44b3;
}

.socials {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 32px;
  margin-left: 12px;
  vertical-align: middle;
}

.fa-brands {
  color: white;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.fa-brands:hover {
  color: #1f69fd;
}

/* STYLE UNTUK KONTEN BAGIAN KANAN */
.hero-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -140px;
}

/* STYLE UNTUK GAMBAR KANAN */
.hero-right img {
  width: 620px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

/* STYLE UNTUK ELEMEN CIRCLE LINES (DECORATOION) */
.circle-lines {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 620px;
  height: 620px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0.6;
}

/* STYLE UNTUK ELEMEN BULAT (DECORATION) */
.floating-ball {
  width: 55px;
  height: 55px;
  background: rgba(0, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 50%;
  position: absolute;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
}

.ball-1 {
  top: 18%; right: -20px;
}

.ball-2 {
  bottom: 10%; left: -30px; animation-delay: 1s;
}

/* STYLE UNTUK SECTION TOOLS */
.highlight-tools {
  width: 100%;
  background:  #9bb4d6;
  height: 110px;
}

.tools-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 180px;
}

.tools-row img {
  height: 58px;
  width: auto;
  object-fit: contain;
  opacity: 0.9;
  transition: 0.3s;
  cursor: pointer;
}

.tools-row img:hover {
  opacity: 1;
  transform: scale(1.08);
}

